.header {
    width: 100%;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 50px 0;
}

.logo {
    position: relative;
    z-index: 1;
}
.navbar {
    display: flex;
    gap: 40px;
    margin-left: 20px;
    margin-right: 15%;
}

.navbar__item {
    color: var(--color-darkBlue);
    font-weight: 400;
    transition: .2s;
}

.header__shop {
    width: 159px;
    height: 70px;
    border: 1px solid #D4D4D4;
    border-radius:70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 20px;
}

.circle {
    border-radius: 50%;
    background-color: var(--color-darkBlue);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.navbar__item:hover {
    color: var(--color-green);
}

.header__cart:hover {
    background-color: var(--color-green);
}

@media (max-width:1024px) {
    .burger {
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        z-index: 1;
        order: 2;
    }

    .burger::after, .burger::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: black;
        left: 0;
        transition: .3s;
    }

    .burger::after {
        bottom: 0;
    }

    .burger::before {
        top: 0;
    }
    .burger__center {
        width: 100%;
        height: 5px;
        background-color: black;
        position: absolute;
        left: 0;
        top: 12px;
        transition: .3s;
    }

    .burger.active::after {
        transform: rotate(45deg);
        bottom: 13px;
    }
    .burger.active::before {
        transform: rotate(-45deg);
        top: 10px;
    }

    .burger.active .burger__center {
        transform: scale(0);
    }

    .navbar {
       position: fixed;
       width: 100%;
       height: 100%;
       background-color: #fff;
       left: 0;
       top: 0;
       margin: 0;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       transform: translate(0,-100%);
       font-size: 22px;
       transition: .3s;
    }
    
    .header__shop {
        display: none;
    }
    
    .navbar.active {
        transform: translate(0%,0%);
    }
}